caption {
	font-weight: bold;
	font-size: 1.1em;
}

.details-control {
	text-align:center;
    cursor: pointer;
}

.image-table td {
	text-align: center;
}

.image-detail-table td {
	text-align: center;
}

.iButton {
	cursor: pointer;
}

.full-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.popover-definition {
	max-width: 600px;
	width: auto;
}

.at-table td {
	white-space: nowrap;
}

.form-group {
    padding-right: 10px;
}

.form-label {
    padding-right: 5px;
}

.location_results {
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    user-select: text !important;
}

.identifier_results {
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    user-select: text !important;
}

.sequence-canvas {
    background-color: #FFFFFF !important;
}

.checkbox {
    visibility: hidden !important;
}

.revbox {
    z-index: 100000;
    position: relative;
}

.revCompButton {
    height: 28px;
    width: 110px;
    margin-left:-18px;
    font-size:12px;
    border:none;
    background: #a05ce0;;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px 15px 10px 25px;
    text-decoration: none;
}

.revCompButton:hover {
  background: purple;
  text-decoration: none;
}

.lowerCaseButton {
    height: 28px;
    width: 110px;
    margin-left:-18px;
    font-size:12px;
    border:none;
    background: #848484;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px 15px 10px 25px;
    text-decoration: none;
}

.lowerCaseButton:hover {
  background: #424242;
  text-decoration: none;
}

.translateButton {
    height: 28px;
    width: 110px;
    margin-left:-18px;
    font-size:12px;
    border:none;
    background: #FE9A2E;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px 15px 10px 25px;
    text-decoration: none;
}

.translateButton:hover {
  background: #B45F04;
  text-decoration: none;
}